{{#if resume.education.length}}
	{{#each resume.education}}
		<section class="position">
			{{#if @first}}
				<h2>Education</h2>
			{{/if}}
			<h3>{{institution}}</h3>
			<h4>
				{{#if studyType }}
					{{studyType}}
				{{/if}}

				{{#if area }}
					{{#if studyType }}
						-
					{{/if}}
					{{area}}
				{{/if}}
				
				{{> date-range}}
			</h4>
		</section>
	{{/each}}
{{/if}}