{{#if resume.education.length}}
<section>
	<h2>Education</h2>
	{{#each resume.education}}
		<div class="position">
			<h3>{{institution}}</h3>
			<h4>
				{{#if studyType }}
					{{studyType}}
				{{/if}}

				{{#if area }}
					{{#if studyType }}
						-
					{{/if}}
					{{area}}
				{{/if}}
				
				{{> date-range}}
			</h4>
		</div>
	{{/each}}
</section>
{{/if}}