<p class="sub-headline">
  {{#if position}}
    {{position}}
  {{/if}}

  {{> date-range}}
</p>

{{#if summary}}
  <div class="summary">
    <p>{{summary}}</p>
  </div>
{{/if}}

{{#if highlights.length}}
  <ul class="highlights">
    {{#each highlights}}
      <li>{{.}}</li>
    {{/each}}
  </ul>
{{/if}}