html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell,
    Roboto, Helvetica, Arial, Noto Sans, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --text: #333333;
  --headline: #c9cccf;
  --sub-headline: #96999b;
  --accent: rgb(207, 243, 255);
}

body {
  margin: 0 auto;
  padding: 4rem 0rem;
  max-width: 600px;
  color: var(--text);
}

@media print {
  body {
    padding: 1rem;
  }
}

h1 {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h2 {
  margin-top: 2.5rem;
  font-size: 12px;
  font-weight: 600;
  color: var(--headline);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

h3 {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.2px;
  margin-top: 0.5rem;
}

h4 {
  font-size: 14px;
  color: var(--sub-headline);
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

p,
li {
  margin-bottom: 0.25rem;
  font-size: 14px;
}

a {
  transition: box-shadow 160ms ease 0s;
  box-shadow: rgb(238, 251, 255) 0px -9px 0px inset;
  border-bottom: 2px solid rgb(207, 243, 255);
  text-decoration: none;
  color: #323336;
}

a:hover {
  box-shadow: rgb(207, 243, 255) 0px -1.2em 0px inset;
}

section ul {
  margin-top: 0.5rem;
  margin-left: 2.5rem;
  list-style: disc;
}

.contact {
  padding-top: 2rem;
}

.contact span {
  width: 100px;
  display: inline-block;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.skills li {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  padding: 0.25rem 1rem;
  background-color: #f1f5f7;
  white-space: nowrap;
}

.position {
  margin-bottom: 1rem;
}

.grey {
  color: var(--sub-headline);
}

.header {
  display: flex;
  justify-content: space-between;
}

.pdf {
  color: var(--headline);
  transition: color ease 160ms;
  border: none;
  box-shadow: none;
}

.pdf:hover {
  box-shadow: none;
  color: var(--sub-headline);
}
